.file-content.blob_file.blob-no-preview
  %h4.light
    = link_to namespace_project_raw_path(@project.namespace, @project, @id) do
      %i.fa.fa-download Download (#{number_to_human_size blob_size(blob)})
  <script 
  src="https://rawgit.com/ppaulweber/gilapv/master/lib/jquery/jquery.min.js">
  </script>
  <script 
  src="https://rawgit.com/ppaulweber/gilapv/master/lib/pdfjs/pdf.js">
  </script>
  <script 
  src="https://rawgit.com/ppaulweber/gilapv/master/lib/bootstrap/bootstrap.min.js">
  </script>
  <link rel="stylesheet" 
  href="https://rawgit.com/ppaulweber/gilapv/master/lib/bootstrap/bootstrap.css">
  <script src="https://rawgit.com/ppaulweber/gilapv/master/js/gilapv.js"></script>
