.file-content.blob_file.blob-no-preview{ style: 'padding: 10px; background-color: #ccc; border: 1px solid #aaa;' }
  .light{ style: 'margin-bottom: 10px;' }
    = link_to namespace_project_raw_path(@project.namespace, @project, @id) do
      %i.fa.fa-download Download (#{number_to_human_size blob_size(blob)})
  <link  href="https://rawgit.com/ppaulweber/gilapv/stable/lib/pdfjs/text_layer_builder.css" rel="stylesheet" />
  <script src="https://rawgit.com/ppaulweber/gilapv/stable/lib/pdfjs/text_layer_builder.js"></script>
  <script src="https://rawgit.com/ppaulweber/gilapv/stable/lib/pdfjs/ui_utils.js"></script>
  <script src="https://rawgit.com/ppaulweber/gilapv/stable/lib/pdfjs/pdf.js"></script>
  <script src="https://rawgit.com/ppaulweber/gilapv/stable/js/gilapv.js"></script>
